{% extends 'base.html' %}

{% load static %}

{% block content %}
<title>About Us</title>
<h1 class="aboutus-title">About Us</h1>
{% if user.is_authenticated %}
    <a class="button" href="{% url 'profile' id=user.pk %}">Return To Profile</a>
{% else %}
<div id="wrapper">
<div id="left">
    <a class="button" href="{% url 'login' %}">Login</a>
    <a class="button" href="{% url 'signup' %}">Sign Up</a>
</div>
</div>
<p class="aboutus-paragraph">Just Park was created using a mixture of black magic, blood, sweat and tears. Each of them used the knowledge
  they gained from Bitmaker's Web Development Immersive Program to bring this beautiful little webthang to your eyes today.</p>
<p class="aboutus-paragraph">Presenting... 'Just Park!' A webapp that lets you rent peoples' parking spots at your convenience and fixed
  prices! We make sure no one can overcharge you as well!. We put the customer first while looking out for their parking needs.
  So what are you waiting for? Sign up with us and lets get this parking party started!</p>

<img class="parking-photo" src="{% static '/images/happy_parking-1024x683.jpg' %}" alt="">
<p class="creator-riff"> The Creators - Josh Date, Luis Borjon, Michael Forgione and Vithuyan Sivananthan.</p>
{% endif %}
{% endblock %}
