{% extends 'base.html' %}

{% block content %}
<title>About Us</title>
<h1>About Us</h1>
<h4> Welcome to Jpark! We help drivers find the closest parking spots from their intended destination. We also help people turn their empty parking 
    spots into a profitable service. We know that parking in the city is never easy so we made Jpark to help remove all that stress and make parking
    in the city a more simple process.
</h4>
<img src="https://www.gannett-cdn.com/-mm-/7659ac79c96d7139fdfd8df865ccf757ae799207/c=327-0-5505-3893/local/-/media/2017/09/11/USATODAY/USATODAY/636407500078372922-GettyImages-658610224.jpg?width=534&height=401&fit=crop" alt="">


{% if user.is_authenticated %}
    <a href="{% url 'profile' id=user.profile.pk %}">Return To Profile</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
