{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h1>Welcome {{user.username}}</h1>

<a href="{% url 'logout' %}"><button>Logout</button></a>

<h2>Reserve</h2>
<a href="{% url 'reservations' %}"><button>Reserve A Spot</button></a>

<h2>Profile Page</h2>

<a href="{% url 'profile' id=user.pk %}"><button>Profile</button></a>

<h2>Search</h2>
<a href="{% url 'search' %}"><button>Search</button></a>

<h2>Parking Spot Listing</h2>

<a href="{% url 'list'%}"><button>Parking</button></a>

{% else %}
<div>
    <h2>You are not signed in. Please login or sign up</h2>
    <a href="{% url 'login' %}"><button>Sign In</button></a>
    <a href="{% url 'signup' %}"><button>Sign Up</button></a> 
</div>
{% endif %}
{% endblock %}