{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h1>Welcome {{user.username}}</h1>

<a href="{% url 'logout' %}"><button>Logout</button></a>

<h2>Reservations</h2>
<a href="{% url 'reservations' %}"><button>Reservations</button></a>

<h2>Profile Page</h2>

<a href="{% url 'profile' id=user.profile.pk %}"><button>Profile</button></a>
{% else %}
<div>
    <h2>You are not signed in</h2>
    <a href="{% url 'login' %}"><button>Sign In</button></a>
</div>
{% endif %}
{% endblock %}